
h1, h3, h4 {
    margin: 0;
    padding: 10px 0;
}

/* Contenedor principal */
.contenido_pagina {
    display: flex; /* Usamos flexbox para crear una distribución en filas */
    flex-direction: row; /* Organiza los elementos horizontalmente */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    /* padding-top: 60px; */
    margin: 0 auto;
    /* gap: 10px; Espaciado entre columnas */
}

/* Columna derecha: habitaciones */
.contenido_pagina .col.romms {
    
    flex: 3; /* La columna derecha ocupa más espacio */
}

/* Título de la sección */
.habitacion_tipo h3 {
    font-size: 1.5rem;
    color:#000000;
    border-bottom: 4px solid #000000;
    background-color: transparent;
    padding: 2px 20px 22px 24px;
    margin-bottom: 20px;
    text-align: left;
}

/* Contenedor de habitaciones */
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    /* gap: 150px; */
    /* justify-content: center ; */
}

/* Cada habitación */
.room {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    width: 350px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.room:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.room .image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.room h4 {
    font-size: 1.5rem;
    color: #34495e;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.room .expansion {
    padding: 10px;
}

.room .expansion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.room .expansion ul li {
    font-size: 0.9rem;
    color: #555;
    padding: 5px 0;
    border-bottom: 1px solid #a9a7be;
}

.room .expansion ul li:last-child {
    border-bottom: none;
}

/* Botón */
.room .button {
    display: block;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 0px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.room .button:hover {
    background-color: #051e2e;
    color: #ffffff;
}
.padding{
    padding:10px;
}
.activador_pop{
    cursor: pointer;
}

.cuadro_datos_fund{
    width: 100%;
    display: flex;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.recta_fundadores{
    width: 100%;
    background: #00053b;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0 20px 0;
}
.carta_datos{
    width: 95%;
    height: 440px;
    position: absolute;
    /* top: 150px;  */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}


.completo_tam{
    width: 100%;
    height: 100%;
}
.card2{
    position: relative;
    width: 320px;
    height: 100%;
    transition: all 0.3s ease;
}
.card2 img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30,255,0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}
.card2 img:last-child{
    position: absolute;
    width: 350px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(10%);
    transition:  0.3s ease;
    opacity: 0;
}
.card2:hover{
    transform: 
        perspective(320px)
        rotateX(10deg)
        translateY(-5%)
        translateZ(0) 
    ;
}
.card2::before{
    content: ' ';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10% , rgba(0,0,0,0.5) 50% , rgba(0,0,0) 95% );
    opacity: 0;
    transition: all 0.3s ease;
}
.card2:hover::before{
    opacity: 1;
}
.card2:hover img:last-child{
    opacity: 1;
    transform: translateY(-10%);
}

.card_descripcion{
    position: absolute;
    bottom: 0;
    width: 320px;
    height: 50px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

/* Responsivo */
@media (max-width: 768px) {
    .habitacion_tipo{

        text-align: left;
    }
    .contenido_pagina h3 {
        flex-direction: column;
        align-items: center;
    }

    .col.text {
        max-width: 90%;
        position: static; /* Se desactiva el sticky en pantallas pequeñas */
        margin-bottom: 20px;
    }

    .posts {
        flex-direction: column;
        align-items: center;
    }

    .room {
        width: 90%;
    }
    .nav-isquierdo{
        display: none;
    }
    .recta_fundadores{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .carta_datos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        align-items: center;
    }
    .card2{
        height: auto;
    }
    .card_descripcion{
        position: relative;
        background-color: #000000;
    }
    .recta_fundadores{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 0;
    }
    .cuadro_datos_fund{
        justify-content: flex-start;
    }
}
