/* Contenedor principal */
.contenido_pagina {
    display: flex;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(to bottom, #f4f5f7, #ffffff); /* Fondo moderno */
    border-radius: 15px;
    margin: 0 auto;
    max-width: 1200px;  /* Limitar el ancho máximo */
}

/* Contenido principal */
.contenido_historial {
    flex: 3;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Encabezado del historial */
.historial_header {
    text-align: center;
    margin-bottom: 30px;
}

.historial_header .titulo {
    font-size: 2.5rem;
    color: #080431; 
    margin-left: 3px;
    text-align: left;
}

.historial_header .descripcion {
    font-size: 1rem;
    color: #f0f5f8;
    text-align: left;
}

/* Contenedor de tarjetas apiladas en renglones */
.historial_cards {
    display: block; /* Cambiar a bloque para apilar las tarjetas */
    margin: 0;
    padding-right: 20px; /* Eliminar márgenes automáticos para un flujo continuo */
}

/* Estilo de cada tarjeta */
.card {
    width: 100%; /* Las tarjetas ocupan todo el ancho disponible */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
    background-color: #ffffff;
    border: 1px solid #e0e0e0; /* Suaviza el borde */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    display: flex;
    gap: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    margin-left: auto; /* Centrar las tarjetas */
    margin-right: auto;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Efecto hover */
}

/* Contenido de las tarjetas */
.card_content {
    display: flex;
    flex-direction: column;
}

.card_title {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 10px;
}

.card_date {
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: 5px;
}

.card_description {
    font-size: 1rem;
    color: #000000;
    line-height: 1.6;
}

strong {
    color: hsl(0, 0%, 0%);
    font-weight: var(--bulma-strong-weight);
}
