.modal_tam90{
    width: 100%;
    max-width: 1400px;
}
.cuerpo_modal{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.imagenes_modal{
    width: 70vh; 
    height: 40vh;
    background-color: #258d8d;
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* animation: rotate infinite 15s; */
}
.interfas_modal_imagen{
    width: 70vh;
    height: 40vh;
    background-color: #258d8d;
    overflow: hidden;
    position: relative;
}

.opciones_user{
    width: 30%;
    height: 80%;
    background: bisque;
}
.completo_wh{
    width: 100% !important;
    height: 100% !important;
}
.botones_frame{
    padding: 15px !important;
    background-color: #00000057;
}

@keyframes rotate{
    50% {
        transform: scale3d(1.5, 1.5, 1.5);
    }
}