.nav-isquierdo{
    width: 60px;
    background: #fff;
    height: 90vh;
    position: sticky;
    top: 10vh;
    border-right: 5px solid rgb(20, 12, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 10px 0;
    transition: all 0.5s ease;
    overflow: hidden;
}
.nav-isquierdo .isq_opciones_arriba{
    width: 100%;
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.nav-isquierdo .isq_opciones_arriba .etiqueta_nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 40px;
    color: black;
    transition: background-color 0.5s ease;
}
.nav-isquierdo .isq_opciones_arriba .etiqueta_nav:hover{
    background-color: #113ca8;
    transition: background-color 0.5s ease;
    transform: scale(1.1);
    color: #fff;
}

.nav_isq_abierto{
    width: 170px;
    /* transition: all 0.5s ease; */
}
.nav_isq_abierto  p{
    display: block !important;
    transition: all 0.2s ease;
    width: 80px;
    overflow: hidden;
    cursor: pointer;
}
.isq_opciones_abajo{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all 0.5s ease;
}
.nav_isq_abierto .isq_opciones_abajo{
    justify-content: flex-end !important;
    transition: all 0.5s ease;
}

@media (max-width:768px){
    .nav-isquierdo{
        width: 0;
        overflow: hidden;
        z-index: 1;
        position: fixed;
        transition: all 0.5s ease;
        border-right: 0px solid rgb(20, 12, 0);
        height: 100vh;
    }
    .nav_isq_abierto{
        width: 280px;
        transition: all 0.5s ease;
        border-right: 5px solid rgb(20, 12, 0);
    }
}