nav{
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(to right,  rgba(47, 79, 184, 0.959) 20% ,  rgb(35, 12, 128) 80% ); */
  background: #0000005d ;
  /* background: linear-gradient(to right, red 45%, rgba(255, 0, 0, 0.5) 50%, blue 55%); */
  /* background: linear-gradient(to right,  #0014468a, 40% , #0014468a  60% ); */
  filter: blur(0.2px);
  font-family: fangsong;
  z-index: 1000;
  border-bottom: #fff solid 1px;
  transition: background 0.7s ease;
  color: #fff;
}

.nav-colores{
  background: linear-gradient(to right,  rgb(86 116 209 / 96%) 20% ,  rgb(30 23 115) 80% );
  /* transition: background 0.7s ease; */
  color: (208,184,154,1) ;
}
.nav-bar-image{
  display: none;
}
  
.nav-bar-image span {
  display: block;
  height: 3px;       
  background-color: #333;
  border-radius: 4px;
}
.color_text_white{
    color: #fff;
}
.color_text_alicebu{
  color: rgba(208,184,154,1);
  font-size: large;
  /* text-shadow: -1px 1px 7px #fff; */
}

nav .navbar-lado_derecho{
    margin: 20px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 25px;
    /* color: rgb(5, 1, 43); */
}
nav .nav-bar-lado_isquierdo{
  width: 50%;
  height: 100%;
}
nav .nav-bar-lado_isquierdo > ul{
  display: flex;
  /* width: 100%; */
  /* padding: 5px; */
  padding-right: 5px;
  gap: 10px;
  align-items: center;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
}
nav .nav-bar-lado_isquierdo ul > li{
  height: 90%;
  display: flex;
  transition: transform 0.3s ease;
  position: relative;
  flex-direction: row;
  justify-content: center;
}
nav .nav-bar-lado_isquierdo ul > li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%; 
  height: 2px;
  background-color: rgb(230, 227, 248);
  transition: width 0.5s ease;
}
nav .nav-bar-lado_isquierdo ul > li a{
  /* color: aliceblue; */
  font-size: 17px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
nav .nav-bar-lado_isquierdo ul > li:hover::after{
  width: 100%;
  transform: scaleX(1.1);
  transform: scale(1.1);
  text-shadow: 10px 2px 4px rgba(240, 141, 48, 0.836);
}
.nav-bar-enlaces{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 5px;
  cursor: pointer;
  /* color: rgba(208,184,154,1); */
  transition: border-bottom 0.3s ease;
  flex-direction: row;
  justify-content: space-around;
}
.nav-bar-enlaces:hover{
  transform: scale(1.1); 
}


.nav-bar-abajo{
  display: none;
}
@media (max-width: 768px) {
  nav .nav-bar-lado_isquierdo{
      /* position:fixed; */
      width:30%;
      display: none;
  }
  nav .navbar-lado_derecho{
      width: 70%;
      justify-content: space-between;
  }
  .nav-bar-abajo{
    display: flex;
    width: 100%;
    bottom: 0px;
    height: 40px;
    position: fixed;
    background: linear-gradient(to right,  rgba(140, 162, 233, 0.829) 40% ,  rgba(49, 17, 173, 0.664) 60% );
    filter: blur(0.2px);
    font-family: fangsong;
    z-index: 1000;
  }
  .nav-bar-abajo ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
    justify-content: space-evenly;
  }
  .nav-bar-abajo ul li{
    display: flex;
    background-color: rgb(144 144 209);
    border-radius: 50%;
    align-items: center;
    padding: 5px;
  }
  .nav-bar-abajo ul p{
    display: none;
  }
  .nav-bar-image{
    width: 20px;       
    height: 15px;     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .footerBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .copyright{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .titulo_principal h2{
    font-size: 40px;
  }
}