nav{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  /* /* background: linear-gradient(to right, red 45%, rgba(255, 0, 0, 0.5) 50%, blue 55%); */
  background: linear-gradient(to right,  rgba(140, 162, 233, 0.829) 40% ,  rgba(49, 17, 173, 0.664) 60% );

  filter: blur(0.2px);
  font-family: fangsong;
}
.nav-bar-image{
  width: 20px;       
  height: 15px;     
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
  
.nav-bar-image span {
  display: block;
  height: 3px;       
  background-color: #333;
  border-radius: 4px;
}
nav .navbar-lado_derecho{
    margin: 20px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 25px;
    color: rgb(5, 1, 43);
}
nav .nav-bar-lado_isquierdo{
  width: 50%;
}
nav .nav-bar-lado_isquierdo > ul{
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;

}
nav .nav-bar-lado_isquierdo ul > li{
  height: 50%;
  margin: 10px;
  transition: transform 0.3s ease;
  position: relative;
  padding: 2px 20px;
  /* transition: border-bottom 0.3s ease; */
}
nav .nav-bar-lado_isquierdo ul > li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%; 
  height: 2px;
  background-color: rgb(230, 227, 248);
  transition: width 0.5s ease;
}
nav .nav-bar-lado_isquierdo ul > li a{
  color: aliceblue;
  font-size: 17px;
}
nav .nav-bar-lado_isquierdo ul > li:hover::after{
  width: 100%;
  transform: scaleX(1.1);
  transform: scale(1.1);
  text-shadow: 10px 2px 4px rgba(240, 141, 48, 0.836);
}


@media (max-width: 768px) {
  nav .nav-bar-lado_isquierdo{
      width:30%;
      display: none;
  }
  nav .navbar-lado_derecho{
      width: 55%;
      justify-content: space-between;
  }
}