*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../images/fondo_principal.jpg");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    margin: 0;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 2em;
    background: linear-gradient(to top,  #36313185 40% , #66645cb2  60% );;
}
.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}