.titulo_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_principal img{
    width: 40%;
    /* animation: wave 1.5s infinite; */
    transition: all 0.3s ease;
}

.titulo_principal h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-shadow: 2px 2px 8px rgb(131, 96, 53); 
    font-weight: bolder;
}

.titulo_principal h2 span{
    display: inline-block;
    animation: wave 2s infinite;
    transition: all 0.5s ease;
    animation-delay: calc(0.1s * var(--i)); 
}

.titulo_principal p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

.section .elemento_separado{
    background: #fff;
    width: 50%;
    height: 10%;
    position: absolute;
    bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section .elemento_separado div{
    /* background: #000; */
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 32%;
    color: #000;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    align-items: center;
    border: 1.5px dotted #474747;
    border-radius: 10px;
    transition: all 1.5s ease;
}

.section .elemento_separado div:hover{
    transform: scale(1.1);
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0px);
        transition: all 0.3s ease;
    }
    75% {
        transform: translateY(-10px) scale(1.1);
        transition: all 0.3s ease;
    }
}