.titulo_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_principal img{
    width: 40%;
    /* animation: wave 1.5s infinite; */
    transition: all 0.3s ease;
}

.titulo_principal h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-shadow: 2px 2px 8px rgb(255 170 0 / 73%); 
    font-weight: bolder;
}

.titulo_principal h2 span{
    display: inline-block;
    animation: wave 2s infinite;
    transition: all 0.5s ease;
    animation-delay: calc(0.1s * var(--i)); 
}

.titulo_principal p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

.section .elemento_separado{
    background: #fff;
    width: 50%;
    height: 10%;
    position: absolute;
    bottom: 20px;
    border-radius: 10px;
    display: flex;

}

.section .elemento_separado div{
    background: #000;
    font-size: 10px;
    width: 30%;
    height: 100%;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0px);
        transition: all 0.3s ease;
    }
    75% {
        transform: translateY(-10px) scale(1.1);
        transition: all 0.3s ease;
    }
}